@use super::super::statics::*; @()
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Internal Server Error</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link rel="stylesheet" type="text/css" href="/assets/@main_css.name" />
  </head>
  <body>
    <main>
      <header>
        <h1>Uh oh...</h1>
      </header>
      <section>
        <p>Internal Server Error</p>
        <p><a href="/">Go to homepage</a></p>
      </section>
    </main>
  </body>
</html>
